<p>Hello <%= @resource.email %>!</p>

<p>Кто-то запросил ссылку для изменения вашего пароля. Сделать это можно по ссылке ниже.</p>

<p><%= link_to t('change_password'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('ignore') %></p>
<p><%= t('password_change_hint') %></p>
